services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    build: .
    depends_on:
      - db
    ports:
      - "3434:3434"
    volumes:
      - ./.env:/src/.env:ro
      - ./certs:/src/certs:ro

volumes:
  pgdata: